RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://arksoft.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://arksoft.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://arksoft.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://arksoft.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://webmail.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://webmail.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.arksoft.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.arksoft.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.arksoft.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.arksoft.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.webmail.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.webmail.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://arksoft.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://arksoft.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://arksoft.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://arksoft.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://webmail.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://webmail.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.arksoft.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.arksoft.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.arksoft.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.arksoft.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.filoneu.co.ao$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.webmail.filoneu.co.ao/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.webmail.filoneu.co.ao$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

